:root {
    --primary-color:#055a05;
    --secondary-color:#f4a261;
    --accent1-color:#264653;
    --accent2-color:#e9c46a;
    --heading-font:"Times New Roman", "Georgia",serif;
    --body-font:Arial, Helvetica, Sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header,main,footer {
    width: 900px;
    margin: 0 auto;
}
h1,h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}


nav,p,section, article {
    margin: 16px;
    padding: 8px;
}
.social-media  {
    text-decoration: none;
}

.social-media img {
  width: 30px;
  height: 30px;
}

.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    
    
}
.hero h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 5px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    clear: both;
}

.hero article {
    position: absolute;
    clear: both;
    color: #fff;
    background-color: var(--accent1-color);
    top: 160px;
    
    
}

.hero img {
    float: right;
    
}
section h2 {
    background-color: var(--accent1-color);
    color: #fff;
    text-align: center;
    padding: 10px;
    
}


