:root {
    --primary-color:#055a05;
    --secondary-color:#f4a261;
    --accent1-color:#264653;
    --accent2-color:#e9c46a;
    --heading-font:"Times New Roman", "Georgia",serif;
    --body-font:Arial, Helvetica, Sans-serif;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header,main,footer {
    width: 840px;
    margin: 0 auto;
}
h1,h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}


nav,p,section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia  a{
    text-decoration: none;
    
}

.socialmedia img {
  width: 30px;
  height: 30px;
  
}

.hero {
    position: relative;
    height: 500px;
    margin-bottom: 2rem;

    
}
.hero > img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    
}
    
.hero h1 {
    position: absolute;
    top: 10px;
    left: 200px;
    padding: 5px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #fff;

}
  
.hero article {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 800px;
    padding: 5px;
    padding-bottom: 1px;
    background-color: var(--accent1-color);
    color: aliceblue;
    border-radius: 2px;
    opacity: 0.8;
    
}
    
.hero  article img {
    float: right;
    clear: both;
}

section > h2 {
    
    color: #000;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
    
} 

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--secondary-color);
    height: 100px;
    justify-content: space-evenly;


}
.navigation {
    display: flex;
    justify-content: flex-end;
}
#logo {
    width: 120px;
    margin-left: 180px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav {
    border: 2px solid var(--accent1-color);
    padding: 0.1rem;
}
nav ul li {
    padding: 0.5rem 1rem;
    border-right: 1px solid var(--accent2-color);
}

nav ul li:last-child {
    border-right: none;
}
nav a {
    text-decoration: none;
}
.history h2 {
  text-align: center;

  margin-bottom: 5px;
}

.image-wrap {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1rem;
  align-items: start;
}

.image-wrap img {
  width: 180px;
  justify-self: center;
}
section {
    border: 2px solid var(--accent1-color);
    padding: 1rem;
    margin: 1.5rem 0;
}
.adventures h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.adventure-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}



.socialmedia,
.socialmedia a,
.socialmedia img {
    border: none;
} 
footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border: 2px solid var(--accent1-color);
    padding: 1rem;
    margin: 0 auto;
}