:root {
    --primary-color:#055a05;
    --secondary-color:#f4a261;
    --accent1-color:#264653;
    --accent2-color:#e9c46a;
    --heading-font:"Times New Roman", "Georgia",serif;
    --body-font:Arial, Helvetica, Sans-serif;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header,main,footer {
    width: 840px;
    margin: 0 auto;
}
h1,h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}


/*nav,p,section, article {
    margin: 16px;
    padding: 8px;
}*/
.socialmedia  a{
    text-decoration: none;
    
}

.socialmedia img {
  width: 30px;
  height: 30px;
  
}

.hero {
    position: relative;
    height: 500px;
    margin-bottom: 2rem;  
    
}

.hero > img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    
}
    
.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    padding: 5px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #fff;
    transform: translate(-50%, -50%);

}
  
.hero article {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 800px;
    padding: 5px;
    padding-bottom: 1px;
    background-color: var(--accent1-color);
    color: aliceblue;
    border-radius: 2px;
    opacity: 0.8;
    
}
    
.hero  article img {
    float: right;
    clear: both;
}

section > h2 {
    
    color: #000;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
    
} 

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--secondary-color);
    height: 100px;
    justify-content: space-evenly;


}
.navigation {
    display: flex;
    justify-content: flex-end;
}
#logo {
    width: 120px;
    margin-left: 180px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav {
    border: 2px solid var(--accent1-color);
    padding: 0.1rem;
}
nav ul li {
    padding: 0.5rem 1rem;
    border-right: 1px solid var(--accent2-color);
}

nav ul li:last-child {
    border-right: none;
}
nav a {
    text-decoration: none;
}
.history h2 {
  text-align: center;

  margin-bottom: 5px;
}

.image-wrap {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1rem;
  align-items: start;
}

.image-wrap img {
  width: 180px;
  justify-self: center;
}
section {
    border: 2px solid var(--accent1-color);
    padding: 1rem;
    margin: 1.5rem 0;
}
.adventures h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.adventure-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    justify-content: space-evenly;
}



.socialmedia,
.socialmedia a,
.socialmedia img {
    border: none;
} 
footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border: 2px solid var(--accent1-color);
    padding: 1rem;
    margin: 0 auto;
    color: aliceblue;
    background-color:#264653
}

.address {
    display: grid;
    justify-content: center;
}
.address h1,
.address p {
    margin: 0;
}
.container {
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr  
     
}

.form-row {
    display: flex;
    flex-direction: column; 
    gap: 0.5rem;
}


.purpose {
    display: grid;
    grid-template-columns: 200px 1fr; /* legend | radios */
    align-items: start;
    border: none;
    column-gap: 3px;
}

.purpose p {
    grid-column: 1/2;
    font-weight: bold;
    align-self: center;


}

.purpose-options {
    grid-column: 2 / 3;
    margin: 0;
    
}

.purpose-options label {
    display: block;
    margin-bottom: 0.5rem;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

input[type="text"] , input[type="email"] {
    margin-left: 10px;
}





.trip-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  padding: 40px;
  
}

.trip-card {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  text-align: center;


}
.trip-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 5px;

}

/* Table Styling */
.trip-table-section {
  padding: 40px;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 12px;
}
th {
  background-color: #0077cc;
  color: white;
}

/* CTA Section */
.cta {
  text-align: center;
  padding: 40px;
  background-color: #e6f2ff;
}
.cta-button {
  display: inline-block;
  padding: 12px 25px;
  background-color: #0077cc;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #005fa3;
}
.grid-item {
    display: grid;

}

.grid-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
}